<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "./mybatis-3-config.dtd" >
<configuration>
<typeAliases>
<!-- 简化类型 -->
</typeAliases>
<!-- 引用mapper.xml -->
<mappers>
<mapper resource="test/mapper/AccountMapper.xml"/>

</mappers>
</configuration>